@page
@model TheDuckenRebuild.Pages.GalleryModel
@{
    ViewData["Title"] = "Gallery";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Welcome to our Gallery</h2>
<p>
    Have a look at some of the things that our lovely establishment offers.
</p>

