@page
@model TheDuckenRebuild.Pages.GalleryModel
@{
    ViewData["Title"] = "Gallery";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Welcome to our Gallery</h2>
<p>
    Have a look at some of the things that our lovely establishment offers.
</p>

<div class="tw-container tw-teal">
    <h1>The Ducken Wellington Bed and Breakfast</h1>
</div>

<div class="tw-row-padding tw-margin-top">
    <div class="tw-third">
        <div class="tw-card">
            <img src="~/images/Slideshow/CoveredVeranda.jpg" style="width:100%">
            <div class="tw-container">
                <h5>Veranda</h5>
            </div>
        </div>
    </div>

    <div class="tw-third">
        <div class="tw-card">
            <img src="~/images/Slideshow/Backyard.png" style="width:100%">
            <div class="tw-container">
                <h5>Backyard</h5>
            </div>
        </div>
    </div>

    <div class="tw-third">
        <div class="tw-card">
            <img src="img_vernazza.jpg" style="width:100%">
            <div class="tw-container">
                <h5>Vernazza</h5>
            </div>
        </div>
    </div>
</div>

<div class="tw-row-padding tw-margin-top">
    <div class="tw-third">
        <div class="tw-card">
            <img src="img_manarola.jpg" style="width:100%">
            <div class="tw-container">
                <h5>Manarola</h5>
            </div>
        </div>
    </div>

    <div class="tw-third">
        <div class="tw-card">
            <img src="img_corniglia.jpg" style="width:100%">
            <div class="tw-container">
                <h5>Corniglia</h5>
            </div>
        </div>
    </div>

    <div class="tw-third">
        <div class="tw-card">
            <img src="img_riomaggiore.jpg" style="width:100%">
            <div class="tw-container">
                <h5>Riomaggiore</h5>
            </div>
        </div>
    </div>
</div>