@page
@model TheDuckenRebuild.Pages.GalleryModel
@{
    ViewData["Title"] = "Gallery";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Our Gallery</h2>
<p>
    Take a look at the features of our lovely establishment and home.
</p>

@* Row One *@
@*<div class="tw-container tw-gray">
        <h5>The two bedrooms available for your enjoyment.</h5>
    </div>
    <div class="tw-row-padding">
        <div class="tw-third tw-container">
            <img src="~/images/Slideshow/TheDuckRoom.jpg" style="width:100%; cursor:pointer" onclick="onclick(this)" class="tw-hover-opacity">
        </div>

        <div class="tw-third tw-container">
            <img src="~/images/Slideshow/OceanRoom.jpg" style="width:100%; cursor:pointer" onclick="onclick(this)" class="tw-hover-opacity">
        </div>

        <div class="tw-third tw-container">
            <img src="~/images/Slideshow/TheDuckRoom0.jpg" style="width:100%; cursor:pointer" onclick="onclick(this)" class="tw-hover-opacity">
        </div>
    </div>

    <br />
    <br />*@
@* Row Two *@
@*<div class="tw-container tw-gray">
        <h5>Some of the beautiful year-round flowers in the garden.</h5>
    </div>
    <div class="tw-row-padding tw-margin-top tw-center">
        <div class="tw-third">
            <div class="tw-card">
                <img src="~/images/Slideshow/FrontYard1.jpg" style="width:100%; height:250px">
            </div>
        </div>

        <div class="tw-third">
            <div class="tw-card">
                <img src="~/images/Slideshow/PlentyofFlowers0.png" style="width:100%; height:250px">
            </div>
        </div>

        <div class="tw-third">
            <div class="tw-card">
                <img src="~/images/Slideshow/PlentyofFlowers1.png" style="width:100%; height:250px">
            </div>
        </div>
    </div>

    <br />
    <br />*@
@* Row Three *@
@*<div class="tw-container tw-gray">
        <h5>The private living room for your personal enjoyment, and the main family living room.</h5>
    </div>
    <div class="tw-row-padding tw-margin-top tw-center">
        <div class="tw-third">
            <div class="tw-card">
                <img src="~/images/Slideshow/PrivateLounge1.jpg" style="width:100%; height:250px">
            </div>
        </div>

        <div class="tw-third">
            <div class="tw-card">
                <img src="~/images/Slideshow/PrivateLounge1.png" style="width:100%; height:250px">
            </div>
        </div>

        <div class="tw-third">
            <div class="tw-card">
                <img src="~/images/Slideshow/FamilyLounge1.jpg" style="width:100%; height:250px">
            </div>
        </div>
    </div>

    <br />
    <br />*@
@* Row Four *@
@*<div class="tw-container tw-gray">
        <h5>The chickens and the free range eggs they produce year-round.</h5>
    </div>
    <div class="tw-row-padding tw-margin-top tw-center">
        <div class="tw-third">
            <div class="tw-card">
                <img src="~/images/Slideshow/FreeRangeEggs.png" style="width:auto; height:250px">
            </div>
        </div>

        <div class="tw-third">
            <div class="tw-card">
                <img src="~/images/Slideshow/FreeRangeEggs0.png" style="width:auto; height:250px">
            </div>
        </div>

        <div class="tw-third">
            <div class="tw-card">
                <img src="~/images/Slideshow/FreeRangeEggs1.png" style="width:auto; height:250px">
            </div>
        </div>
    </div>


    <div id="modal01" class="tw-modal" onclick="this.style.display='none'">
        <span class="tw-button tw-hover-red tw-xlarge tw-display-topright">&times;</span>
        <div class="tw-modal-content tw-animate-zoom">
            <img id="img01" style="width:100%">
        </div>
    </div>



    <script>
        function onClick(element) {
            document.getElementById("img01").src = element.src;
            document.getElementById("modal01").style.display = "block";
        }
    </script>*@


<div class="tw-row-padding" style="margin:0 -16px">
    <div class="tw-col s4">
        <img src="~/images/Slideshow/TheDuckRoom.jpg" style="width:100%;cursor:pointer"
             onclick="openModal(); currentDiv(1)" class="tw-hover-shadow">
    </div>
    <div class="tw-col s4">
        <img src="~/images/Slideshow/OceanRoom.jpg" style="width:100%;cursor:pointer"
             onclick="openModal(); currentDiv(2)" class="tw-hover-shadow">
    </div>
    <div class="tw-col s4">
        <img src="~/images/Slideshow/TheDuckRoom0.jpg" style="width:100%;cursor:pointer"
             onclick="openModal(); currentDiv(3)" class="tw-hover-shadow">
    </div>
</div>

<div id="myModal" class="tw-modal tw-black">
    <span class="tw-text-white tw-xxlarge tw-hover-text-grey tw-container tw-display-topright" onclick="closeModal()" style="cursor:pointer">×</span>
    <div class="tw-modal-content">

        <div class="tw-content" style="max-width:1200px">
            <img class="mySlides" src="~/images/Slideshow/TheDuckRoom.jpg" style="width:50%">
            <img class="mySlides" src="~/images/Slideshow/OceanRoom.jpg" style="width:50%">
            <img class="mySlides" src="~/images/Slideshow/TheDuckRoom0.jpg" style="width:50%">
            <div class="tw-row tw-black tw-center">
                <div class="tw-display-container">
                    <p id="caption"></p>
                    <span class="tw-display-left tw-btn" onclick="plusDivs(-1)">❮</span>
                    <span class="tw-display-right tw-btn" onclick="plusDivs(1)">❯</span>
                </div>
                <div class="tw-col s4">
                    <img class="tw-opacity tw-hover-opacity-off" src="~/images/Slideshow/TheDuckRoom.jpg" style="width:100%" onclick="currentDiv(1)" alt="The Duck Room">
                </div>
                <div class="tw-col s4">
                    <img class="tw-opacity tw-hover-opacity-off" src="~/images/Slideshow/OceanRoom.jpg" style="width:100%" onclick="currentDiv(2)" alt="Our lovely ocean room">
                </div>
                <div class="tw-col s4">
                    <img class="tw-opacity tw-hover-opacity-off" src="~/images/Slideshow/TheDuckRoom0.jpg" style="width:100%" onclick="currentDiv(3)" alt="The Duck room">
                </div>
            </div> <!-- End row -->
        </div> <!-- End tw-content -->

    </div> <!-- End modal content -->
</div> <!-- End modal -->


<script>
    function openModal() {
        document.getElementById('myModal').style.display = "block";
    }

    function closeModal() {
        document.getElementById('myModal').style.display = "none";
    }

    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
        showDivs(slideIndex += n);
    }

    function currentDiv(n) {
        showDivs(slideIndex = n);
    }

    function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        var captionText = document.getElementById("caption");
        if (n > x.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = x.length }
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" tw-opacity-off", "");

        }
        x[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " tw-opacity-off";
        captionText.innerHTML = dots[slideIndex - 1].alt;
    }
</script>