@page
@model TheDuckenRebuild.Pages.GalleryModel
@{
    ViewData["Title"] = "Gallery";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Our Gallery</h2>
<p>
    Take a look at the features of our lovely establishment and home.
</p>

@* Row One *@
<div class="tw-container tw-gray">
    <h5>The two bedrooms available for your enjoyment.</h5>
</div>
<div class="tw-row-padding tw-margin-top tw-center">
    <div class="tw-third">
        <div class="tw-card">
            <img src="~/images/Slideshow/TheDuckRoom.jpg" style="width:100%; height:250px">
        </div>
    </div>

    <div class="tw-third">
        <div class="tw-card">
            <img src="~/images/Slideshow/OceanRoom.jpg" style="width:100%; height:250px">
        </div>
    </div>

    <div class="tw-third">
        <div class="tw-card">
            <img src="~/images/Slideshow/TheDuckRoom0.jpg" style="width:100%; height:250px">
        </div>
    </div>
</div>

<br />
<br />
@* Row Two *@
<div class="tw-container tw-gray">
    <h5>Some of the beautiful year-round flowers in the garden.</h5>
</div>
<div class="tw-row-padding tw-margin-top tw-center">
    <div class="tw-third">
        <div class="tw-card">
            <img src="~/images/Slideshow/FrontYard1.jpg" style="width:100%; height:250px">
        </div>
    </div>

    <div class="tw-third">
        <div class="tw-card">
            <img src="~/images/Slideshow/PlentyofFlowers0.png" style="width:100%; height:250px">
        </div>
    </div>

    <div class="tw-third">
        <div class="tw-card">
            <img src="~/images/Slideshow/PlentyofFlowers1.png" style="width:100%; height:250px">
        </div>
    </div>
</div>

<br />
<br />
@* Row Three *@
<div class="tw-container tw-gray">
    <h5>The private living room for your personal enjoyment, and the main family living room.</h5>
</div>
<div class="tw-row-padding tw-margin-top tw-center">
    <div class="tw-third">
        <div class="tw-card">
            <img src="~/images/Slideshow/PrivateLounge1.jpg" style="width:100%; height:250px">
        </div>
    </div>

    <div class="tw-third">
        <div class="tw-card">
            <img src="~/images/Slideshow/PrivateLounge1.png" style="width:100%; height:250px">
        </div>
    </div>

    <div class="tw-third">
        <div class="tw-card">
            <img src="~/images/Slideshow/FamilyLounge1.jpg" style="width:100%; height:250px">
        </div>
    </div>
</div>

<br />
<br />
@* Row Four *@
<div class="tw-container tw-gray">
    <h5>The chickens and the free range eggs they produce year-round.</h5>
</div>
<div class="tw-row-padding tw-margin-top tw-center">
    <div class="tw-third">
        <div class="tw-card">
            <img src="~/images/Slideshow/FreeRangeEggs.png" style="width:auto; height:250px">
        </div>
    </div>

    <div class="tw-third">
        <div class="tw-card">
            <img src="~/images/Slideshow/FreeRangeEggs0.png" style="width:auto; height:250px">
        </div>
    </div>

    <div class="tw-third">
        <div class="tw-card">
            <img src="~/images/Slideshow/FreeRangeEggs1.png" style="width:auto; height:250px">
        </div>
    </div>
</div>