@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@* Main logo box for the website. Scaled to the center of the screen. *@
<div class="tw-display-container tw-animate-opacity">
    <img src="~/images/Logo.png" alt="logo" style="width:100%;min-height:250px;max-height:500px;">
    <div class="tw-container tw-display-bottomleft tw-margin-bottom">
        <button onclick="location.href = '/Contact';" .style.display='block' type="button" class="tw-button tw-xlarge tw-teal tw-hover-border-white" title="Gallery">Book Now</button>
    </div>
</div>

@* Team section that can be updated as needed. *@
<div class="tw-container tw-padding-64 tw-center" id="team">
    <h2>OUR FRIENDLY TEAM</h2>
    <p>Meet the amazing wife and husband team, with their youngest son - our hosts:</p>

    <div class="tw-row">
        <br>
        <div class="tw-third">
            <img src="~/images/Elke.png" alt="Owner Operator" style="width:50%" class="tw-circle tw-hover-opacity">
            <h3>Elke Kuebler</h3>
            <p>Owner and Hostess</p>
        </div>

        <div class="tw-third">
            <img src="~/images/Stephen.png" alt="Operator" style="width:50%" class="tw-circle tw-hover-opacity">
            <h3>Stephen Dykes</h3>
            <p>Host</p>
        </div>

        <div class="tw-third">
            <img src="~/images/Anthony.png" alt="Operator" style="width:50%" class="tw-circle tw-hover-opacity">
            <h3>Anthony Dykes</h3>
            <p>Host</p>
        </div>
    </div>
</div>



@* A little about the company. *@
<div class="tw-row-padding tw-padding-64 tw-theme-l1" id="work" style="background-color:lightgrey;">
    <div class="tw-twothird">
        <h2>Our Work</h2>
        <p>
            Wake up to the sound of birds greeting the day, and free range eggs for breakfast.
            Are you an animal lover. We have chickens, ducks & 2 dogs.<br />
            <br />
            We are only a short 5 min walk to the Railway station or bus stop and 15mins from the CBD, and Wellington's vast Café society.
            Take a stroll along Wellington's water front and enjoy the amazing views and Te Papa Museum.<br />
            <br />
            If you love the beach. We are only 10mins drive from 3 different beaches, where you can swim, surfer or paddle board.
            Or just walk along the many local walking tracks along the shore or up the hills, and enjoy the splendor that is Wellington.
        </p>
    </div>
</div>


@* Details about the rooms that are available. *@
<div class="tw-row-padding tw-center tw-padding-64" id="pricing">
    <h2>Rooms that we have available.</h2>
    <p>Check out the rooms that we have available.</p><br>
    <div class="tw-half tw-margin-bottom">
        <ul class="tw-ul tw-border tw-hover-shadow">
            <li class="tw-theme" style="background-color:darkgray;">
                <p class="tw-xlarge">Starting From</p>
            </li>
            <li class="tw-padding-16"><b>Per Night</b></li>
            <li class="tw-padding-16"> From $90 NZD</li>
            <li class="tw-padding-16">@*<i class="fa fa-users"></i>*@ 4 Guests</li>
            <li class="tw-padding-16">@*<i class="fa fa-bed"></i>*@ 4 Beds</li>
            <li class="tw-padding-16">@*<i class="fa fa-bed"></i>*@ 2 Bedrooms</li>
            <li class="tw-padding-16">@*<i class="fa fa-bath"></i>*@ 1 Bath</li>
            <li class="tw-button tw-teal">
                <a href="https://www.airbnb.co.nz/rooms/11974455" class="tw-button"><b>Book Now!</b></a>
            </li>
        </ul>
    </div>
    @* Image slideshow. *@
    @*<div class="tw-content tw-section tw-half centered">
        <img class="mySlides tw-animate-fading" src="~/images/Slideshow/TheDuckRoom.jpg" style="width:auto; height:500px; align-content:center">
        <img class="mySlides tw-animate-fading" src="~/images/Slideshow/TheDuckRoom0.jpg" style="width:auto; height:500px; align-content:center">
        <img class="mySlides tw-animate-fading" src="~/images/Slideshow/OceanRoom.jpg" style="width:auto; height:500px; align-content:center">
        <img class="mySlides tw-animate-fading" src="~/images/Slideshow/OceanRoom1.jpg" style="width:auto; height:500px; align-content:center">
        <img class="mySlides tw-animate-fading" src="~/images/Slideshow/Bathroom.jpg" style="width:auto; height:500px; align-content:center">
        <img class="mySlides tw-animate-fading" src="~/images/Slideshow/Bathroom1.jpg" style="width:auto; height:500px; align-content:center">
    </div>*@
</div>


<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img style="position:center" src="~/images/Slideshow/Dogs.png" alt="Dogs" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    <strong>
                        There are two lovely dogs on the property.<br />
                        Oscar on the left, and Jasper on the right.
                    </strong>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/Slideshow/Frog0.png" alt="Frogs" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p><strong>We have some new additions to our animals with some cool little Frogs.</strong></p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/Slideshow/FrontYard1.png" alt="Entry" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p><strong>A nice inviting front-entry full of flowers and beauty all year round.</strong></p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>



@* Contact details for the company. *@
<div class="tw-container tw-padding-64 tw-theme-l5" id="contact" style="background-color:lightgrey">
    <div class="tw-row">
        <div class="tw-col m5">
            <div class="tw-padding-16"><span class="tw-xlarge tw-border-teal">Contact Us</span></div>
            <h3>Address</h3>
            <p>Send us an email for a booking or check us out on our social media pages.</p>
            <p style="">@*<i class="fa fa-envelope-o tw-text-teal tw-xlarge"></i>*@  <a href="mailto:theduckenbnb@gmail.com">Email me with any questions.</a></p>
            <p>@*<i class="fa fa-map-marker tw-text-teal tw-xlarge"></i>*@  Check out the map below.    @*<i class="fa fa-arrow-down tw-text-teal"></i>*@</p>
        </div>
    </div>
</div>

@* Map location. Google Maps API. *@
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3002.98006620808!2d174.81965861542488!3d-41.178601979283876!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d38acdb95c060ed%3A0xf708b5cbdee1e7a5!2s52+Redwood+Ave%2C+Tawa%2C+Wellington+5028!5e0!3m2!1sen!2snz!4v1505645416492" width=100% height="420" frameborder="0" style="border:0" allowfullscreen></iframe>

@*<script>
    //Image Carousel
    var myIndex = 0;
    carousel();

    function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }

        myIndex++;
        if (myIndex > x.length) { myIndex = 1; }
        x[myIndex - 1].style.display = "block";
        setTimeout(carousel, 9000);
    }
</script>*@
