@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<script src="~/js/analytics.js"></script>

<h2>@ViewData["Title"]</h2>

<p>Use this page to detail your site's privacy policy.</p>